body {
    margin: 0 auto;
    padding: 0 auto;
}

html {

    scroll-behavior: smooth;
}

.navbar {
    float: left;
    width: 100%;
    font-family: poppins;
    background-color: transparent;
    color: white;
    position: fixed;
    z-index: 3;
}

.bgColor {
    background-color: black;
}

.navbar-L {
    float: left;
    width: 50%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.navbar-R {
    float: right;
    width: 50%;
}

li {
    display: inline;
    transition: .4s ease-in;
    padding: 0.5em;
}

ul.NBR_UL li {
    margin-left: 4.5em;
    cursor: pointer;
    font-weight: 700;
}

ul.NBR_UL li:hover {
    background-color: white;
    font-size: bold;
    color: black;
    border-radius: 30px;
    box-shadow: 0px 0px 5px whitesmoke, 0px 0px 25px whitesmoke, 0px 0px 50px whitesmoke;
}

ul.NBL_UL li {
    font-size: 18px;
}

video.video {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    object-fit: cover;
    height: 100vh;
}

.Content {
    border: solid 2px white;
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    text-align: center;
    padding: 1.5em;
    border-radius: 20px;
    font-family: 'Poppins';
    transition: .4s ease-in;
}

.Content:hover {
    box-shadow: 0px 0px 4px whitesmoke, 0px 0px 20px whitesmoke, 0px 0px 40px whitesmoke;
    background-color: black;
}

.Content h1 {
    color: #E7F5F2;
}

button {
    padding: 0.5em;
    font-family: 'Poppins';
    background-color: transparent;
    border: white solid 1px;
    color: white;
    cursor: pointer;
    transition: .4s ease-in;
}

.Ctn-btn:hover {
    background-color: white;
    font-size: bold;
    color: black;
    box-shadow: 0px 0px 5px whitesmoke, 0px 0px 25px whitesmoke, 0px 0px 50px whitesmoke;
}

.Content p {
    font-weight: 700;
    color: aliceblue;
    font-family: sans-serif;
    position: relative;
    bottom: 1em;
    left: 5em;
}

.about {
    margin-top: 120vh;
    width: 100%;
    float: left;
    text-align: center;
    background: white;
    font-family: 'Poppins';

}

span {
    color: #EF5B0C;
}

.about h1 {
    margin-top: 4em;
}

.about p {
    text-align: inherit;
    width: 100%;
    font-weight: 600;
   
}

.eduaction {
    float: left;
    width: 100%;
    font-weight: 600;
}

.Certification {
    float: left;
    width: 49%;
    text-align: initial;
    margin-left: 5em;
}

.Certification ul {
    text-align: start;
    margin-left: 5em;
}

.Certification h2 {
    text-align: center;
}

.Graduation {
    float: right;
    width: 44%;
    text-align: initial;
    line-height: 0.8em;
}

.Graduation h2 {
    margin-left: 2em;
    margin-top: 1.2em;
    margin-bottom: 1.4em;
}

.Page-center {
    margin: auto;
    max-width: 90%;
}

.hobbies {
    float: left;
    width: 100%;
    font-weight: 600;
}





.Certification li {
    display: inherit;
    text-align: left;
    margin-left: 4em;
}
.Graduation li {
    display: inherit;
    text-align: left;
    margin-left: -2em;
}
.projects {
    float: left;
    width: 99%;
    text-align: center;
}
img.img-sc {
    width: 50%;
    border: solid 1px white;
    border-radius: 20px;
    margin-left: 10em;
}



.skills {
    float: left;
    width: 100%;
    background-color: white;
    font-family: poppins;
    
    font-weight: 600;
}

.whaticando{
    float: left;
    width: 100%;
    background-color: #c4e0e5;
    font-family: poppins;
    
}
.services {
    float: left;
    width: 50%;
    text-align: center;
    
}
.Tech{
    float: right;
    width: 50%;
    text-align: center;
    
}
.whaticando h1{
    text-align: center;
}
.whaticando h2{
    color: #0A4D68;
}
.whaticando h4{
   text-align: center;
}
.whaticando p {
    width: 40%;
    text-align: center;
    padding-left: 15em;
}
.wicd-img{
    width: 20%;
    border-radius: 70px;
   
    background-color: white;
}
span.bold {
    color: black;
    font-weight: 700;
}

.Contact{
    float: left;
    width: 100%;
    font-family: poppins;
    background-color: black;
color:white;
padding-top: 2em;
text-align: center;
}
.phone{
    float:left;
    width:33.3%;
    text-align: initial;
}
.email{
    float:left;
    width:26%;
    text-align: initial;
}
.address{
    float:right;
    width:33.3%;
    text-align: initial;
}
.contact h2{
    text-align: center;
}
i.fa.fa-solid.fa-phone {
    border: solid 1px white;
    padding: 1em;
    border-radius: 50%;
}
i.fa.fa-solid.fa-envelope  {
    border: solid 1px white;
    padding: 1em;
    border-radius: 50%;
}
.address i {
    padding: 1em;
    cursor: pointer;
    color: white;
}
.address a:hover{
    text-decoration: none;
    border: solid 1px #EF5B0C;
    border-radius: 20px;
}
.email a{
    color: white;
}

@media (max-width:768px){
    video.video {
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        right: 0;
        object-fit: cover;
    }
    .navbar {
        float: left;
        width: 100%;
        font-family: poppins;
        background-color: transparent;
        color: white;
        position: fixed;
        z-index: 3;
    }
    .navbar-L {
        float: left;
        width: 100%;
    }
    .navbar-R {
    float: right;
    width: 100%;
}
ul.NBR_UL li {
    cursor: pointer;
    font-weight: 700;
    margin-left: 0em;
}
.Content {
    border: solid 2px white;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 45%;
    text-align: center;
    padding: 1.5em;
    border-radius: 20px;
    font-family: 'Poppins';
    transition: .4s ease-in;
}
.Content h1 {
    color: #E7F5F2;
    font-size: 18px;
}
.Content p {
    font-weight: 700;
    color: aliceblue;
    font-family: sans-serif;
    position: relative;
    left: 0em;
}
button {
    padding: 0.5em;
    font-family: 'Poppins';
    background-color: transparent;
    border: white solid 1px;
    color: white;
    cursor: pointer;
    transition: .4s ease-in;
}
.about {
    margin-top: 100vh;
    width: 100%;
    float: left;
    text-align: center;
    background: white;
    font-family: 'Poppins';
}
skills {
    float: left;
    width: 100%;
    background-color: white;
    font-family: poppins;
    
    font-weight: 600;
}
.skills p {
    margin-left: 0em;
    text-align: center;
}
.Page-center {
    margin: auto;
    max-width: 90%;
}
.about h1 {
    margin-top: 0em;
}

.about p {
    width: 100%;
    font-weight: 600;
    text-align: initial;
  
    margin-top: 1em;
}
.projects {
    float: left;
    width: 100%;
    text-align: center;
}
.eduaction {
    float: left;
    width: 100%;
    font-weight: 600;
}
.Certification {
    float: left;
    width: 100%;
    text-align: center;
    margin-left: 0em;
}
.Certification h2 {
    text-align: center;
}
.Certification ul {
    text-align: left;
    margin-left: 0em;
    line-height: 2em;
}
.Graduation p {
    text-align: center;
}
.Certification ul {
    text-align: left;
    margin-left: 0em;
    line-height: 2em;
    padding-left: 0em;
}
.Graduation {
    float: right;
    width: 100%;
    line-height: 0.8em;
}
.Graduation h2 {
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 0em;
    text-align: center;
}

.hobbies {
    float: left;
    width: 100%;
    font-weight: 600;
}
.services {
    float: left;
    width: 100%;
    text-align: center;
}
.whaticando p {
    width: 60%;
    text-align: center;
    padding-left: 4em;
}
.Tech {
    float: right;
    width: 100%;
    text-align: center;
}
hi
.Contact {
    float: left;
    width: 100%;
    font-family: poppins;
    background-color: black;
    color: white;
    padding-top: 2em;
    text-align: center;
    position: relative;
}
.Graduation ul {
    margin-left: 4em;
    line-height: 2em;
}

.bgColor {
    background-color: black;
}
.phone {
    float: left;
    width: 100%;
    text-align: center;
}
.email {
    float: left;
    width: 100%;
    text-align: center;
}
.address {
    float: right;
    width: 100%;
    text-align: center;
}
img.img-sc {
    width: 50%;
    border: solid 1px white;
    border-radius: 20px;
    margin-left: 0em;
}
    










}